/* Make the whole background red */
body {
    background: rgb(196, 225, 255);
    font-family: Arial, Helvetica, sans-serif
}

/* affects all h1 tags */
h1 {
    text-align: center;
    color: rgb(5, 19, 80);
    font-family: fantasy;
}

.projects 
{
    display:flex;
    flex-wrap:wrap;
}

.project
{
    width: 30%;
    margin: 10px;
    padding: 50px 50px;
    background: rgb(255, 218, 218);
    border-radius: 25%;
    }

/*affect all h2 tags*/
h2 {
    font-family: cursive;
    color: rgb(202, 179, 122);
    font-size: 25px;
}
.project img{
    width: 300px;
    height: 300px;
    margin: 10px;
    border: 2px solid rgb(126, 14, 201); /* choose a color */
    display: block;
    margin: auto;
    }