/* Make the whole background red */
body {
    background: lightslategray;
    font-family: Arial, Helvetica, sans-serif
}

/* affects all h1 tags */
h1 {
    text-align: center;
    color: rgb(191, 222, 136);
    font-family: fantasy;
}

/*.projects 
{
    display:flex;
    flex-wrap:wrap;
}

.project
{
    width: margin;
    padding
    background
    border raduius
}*/

/*affect all h2 tags*/
h2 {
    font-family: cursive;
    color: rgb(202, 179, 122);
    font-size: 25px;
}